    @font-face {
    font-family: MyComic;
    src: url('$lib/ComicSansMS.ttf');
    }

    :global(body) {
        font-family: 'Comic Sans MS', 'MyComic';
        margin: 0;
    }


    .question {
  text-align: center;
}

/* Bar */
input[type="range"] {
  -webkit-appearance: none;
  width: 65%;
  height: 12px;
  border-radius: 6px;
  background: var(--slider-color);
  outline: none;
  margin: 1rem 0;
}
/* Bar celebrate */
input[type="range"].celebrate {
  background: url('./lib/sparkles.gif'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--slider-color);
  border: 1px solid #ffffff;
  cursor: pointer;
}
input[type="range"].celebrate::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: url('./lib/sparkles.gif'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ffffff;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--slider-color);
  border: 2px solid #ffffff;
  cursor: pointer;
}
input[type="range"].celebrate::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: url('./lib/sparkles.gif'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #ffffff;
  cursor: pointer;
}

textarea {
  width: 64%;
  height: 60px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: vertical;
}

button {
  border: none;
  border-radius: 10%;
  padding: 0.3rem 1rem;
  cursor: pointer;
  font-family: 'Comic Sans MS', 'MyComic';
  font-size: 1rem;
  color:black;
}

button, input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}